/* Estilos Generales */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
    font-family: 'Inter', sans-serif;
    color: #444444;
}


/* Títulos */

h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    text-align: center;
}

h2 {
    /* font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    text-align: center; */
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}

h3 {
    /* font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px; */
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    font-style: italic;
}


/* h4 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    font-style: italic;
} */

li {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    padding: 10px;
}


/* Header */

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

.recetas-ricas {
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    color: #ff9100;
    font-size: 45px;
    transition: color 0.5s;
    padding-bottom: 15px;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    transition: color 0.5s;
}

nav ul li:hover {
    color: #ff9100;
    cursor: pointer;
}

.banner {
    background: beige url(../img/lemon-pie.jpg) no-repeat fixed -200px center;
    background-size: cover;
    height: 460px;
    color: #FFFFFF;
}

.banner {
    display: flex;
    align-items: center;
    padding: 0 17%;
}


/* Main */

.ingredientes,
.instrucciones {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 17%;
}

.icon {
    letter-spacing: 5px;
}

.merengue {
    color: #ff9100;
}


/* Footer */

.footer {
    background-color: #C4C4C4;
    text-align: center;
    font-size: 16px;
}

.footer a {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    color: #444444;
    transition: color 0.5s;
}

.footer a:hover {
    color: #ff9100;
    cursor: pointer;
}


/* Merngue */

.banner-m h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    color: #444444;
}

.banner-m {
    background: beige url(../img/merengue-italiano.jpeg) no-repeat fixed center;
    background-size: cover;
    height: 460px;
    color: #444444;
}

.banner-m {
    display: flex;
    align-items: center;
    padding: 0 17%;
}