/* Estilos Generales */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;900&display=swap');
body {
    font-family: 'Inter', sans-serif;
    color: #444444;
}


/* Títulos */

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    font-style: italic;
}

li {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    padding: 10px;
}


/* Header */

nav ul li {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    transition: color 0.5s;
}

nav ul li:hover {
    color: #ff9100;
    cursor: pointer;
}

.banner {
    background: beige url(../img/lemon-pie.jpg) no-repeat fixed -200px center;
    background-size: cover;
    height: 460px;
    color: #FFFFFF;
}


/* Main */

.icon {
    letter-spacing: 5px;
}

.merengue {
    color: #ff9100;
}


/* Footer */

.footer {
    background-color: #C4C4C4;
    text-align: center;
    font-size: 16px;
}