%data {
    padding: 18px 0 30px 15px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    span {
        font-weight: bold;
    }
    dd {
        padding-left: 75px;
    }
}